@import url('https://fonts.googleapis.com/css?family=Lato');


body {
    font-family: 'Lato',Helvetica, Arial, sans-serif;
}
.Flicky {
    font-family: 'Lato', Helvetica, Arial;
    color: blue;
    border-bottom: 3px grey dashed
}

.yearFilmed {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: red;
    border-bottom: 3px grey dashed
}