@import url('https://fonts.googleapis.com/css?family=Lato');


body {
    font-family: 'Lato',Helvetica, Arial, sans-serif;
}
.flick {
    font-family: 'Lato', Helvetica, Arial;
    color: blue;
    background-color: darkgrey
}

.name {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: red;
    background-color: darkgrey
}

h1 {
    color: goldenrod
}

span {
    display: block
}