@import url('https://fonts.googleapis.com/css?family=Lato');


body {
    font-family: 'Lato',Helvetica, Arial, sans-serif;
}
.flick {
    font-family: 'Lato', Helvetica, Arial;
    color: lightcoral;
    
}

.name {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: lightcoral;
    border-bottom: 1px lightcoral solid;
}

h1 {
    color: lightcoral;
    outline-color: blue;
    outline-width: 1px
}

span {
    display: block
}
html{
    background: gray;
}
.fav {
    background-color: goldenrod;
}
.flick:nth-of-type(odd) {
    background-color: rgb(81, 85, 99);
}

button:hover{
    background-color: lightcoral;
    scale: 1.1;
    outline-style: rgb(0, 60, 255) groove;
    
}